/*Media queries*/
@media (max-width: 1199px) {
	.col-xl-10, .col-xl-2{
    	display: flex;
		justify-content: center;
  	}	
}

@media (max-width: 768px){
	.pie1 .row .col-md-3, .pie1 .row .col-md-4, .pie1 .row .col-md-5{
		margin-top: 25px;
	}

	.pie1 .row .col-md-5{
		border: none;
	}
}