/*Colores*/
$darkBlue:#094592;
$white:#FFFFFF;
$black:#000000;
$lightBlue:#04B1E8;

/*Bordes*/
$border-3px:3px solid $darkBlue;
$border-2px: 2px solid $darkBlue;

/*Tamaños fuentes*/
$titleLogo-size:2.5em;
$titleNav-size:1.5em;
$titleBody-size:1.25em;
$politics-size:0.7em;
$horariosContenido-size:1em;
$veterinariosNombre-size:0.9em;


