@import "variables";
@import "body";

/*contenedor principal*/
#mainContent{
	@include contenidoPrincipal;
}

/*Estilo del contenido1 y contenido2*/
.contenido1, .contenido2{
	display: flex;
    flex-direction:column;
    align-items: center;        
}

/*Estilo del contenidoInstalaciones y contVeterinarios*/
.contInstalaciones, .contVeterinarios{
	@include contenidosVarios;
}

/*Estilo de la columnas*/
.row{
	@include columnas;
}

/*Estilo del carrusel*/
#carousel1{
	@include carrusel;
}


/*Estilos para las columnas de los veterinarios*/
.veterinarios .row .col-lg-4{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
	color: $lightBlue;
}

.col-lg-4 h5{
    font-size: $veterinariosNombre-size;
}

.col-lg-4 img{
	width: 250px;
	height: 250px;
	margin-bottom: 20px;
	border: $border-3px;

}


/*Media query*/
@media (max-width: 1199px) {
  	.contInstalaciones, .contVeterinarios{
		margin-right:5%; 
		margin-left:5%;
	}	
}