@import "variables";
@import "body";

/*BODY*/
#mainContent{
    @include contenidoPrincipal;
}


/*Estilo del contenido*/
.contenido{
	display: flex;
    flex-direction:column;
    align-items: center;
    margin: auto 0;
	padding-left: 10%; 
	padding-right: 10%;
    text-align: justify;
}

/*Estilo de la columnas del contBienvenido y horarios*/
.row{
	@include columnas;
}