@charset "UTF-8";
/*Colores*/
/*Bordes*/
/*Tamaños fuentes*/
/*HEADER*/
/*Estilo de la cabecera principal*/
.mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background: #094592;
  z-index: 1;
}

/*Estilo de la cabecera1*/
#cabecera1 {
  background: #FFFFFF;
  width: 100%;
  margin: 0 auto;
}

/*Estilo del cuadro donde va el nombre y logo de la clinica*/
#cuadroClinica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  padding-left: 15px;
  text-decoration: none;
}

/*Estilo para la imagen de la clinica*/
#cuadroClinica img {
  width: 80px;
  height: 80px;
}

/*Estilo nombre de la clinica*/
.nombreClinica {
  display: block;
  margin-left: 0.5em;
  font-size: 2.5em;
  text-align: center;
}

/*Estilo de la miscelanea*/
.miscelanea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
}

/*Estilos para el boton de inicio y registro de usuarios*/
#cuenta {
  list-style: none;
  padding-right: 30px;
  padding-top: 5px;
}

#cuenta li {
  display: inline-block;
  line-height: 40px;
}

#cuenta li a {
  display: block;
  padding: 0px 15px;
  text-decoration: none;
  color: #000000;
}

/*Estilo botonnes de inicar sesion*/
.btnIniciar button a {
  color: #FFFFFF;
  text-decoration: none;
}

/*Estilos para el desplegable de redes*/
#redes, #idiomas {
  list-style: none;
  padding-right: 10px;
  padding-top: 5px;
}

#redes li, #idiomas li {
  display: inline-block;
  line-height: 40px;
}

#redes li a, #idiomas li a {
  display: block;
  padding: 0px 15px;
  text-decoration: none;
  color: #000000;
}

/*Estilos para el cuadro de sesion y registro*/
.contSesion {
  margin-top: 15px;
  width: 90%;
  padding: 15px;
  border: 3px solid #094592;
}

.btnIniciar, .mensaje, #salir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-body h3, .contSesion .form-group a {
  color: #094592;
}

/*Estilo de la barra de navegacion*/
#barraNavegacion {
  font-size: 1.5em;
  text-align: center;
}

.nav-link {
  color: #FFFFFF;
}

/*FOOTER*/
/*Estilo para el pie1*/
.pie1 {
  background-color: #04B1E8;
  color: #FFFFFF;
  border-top: 3px solid #094592;
}

/*Estilos para las columnas del pie1*/
.pie1 .row .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1%;
}

.pie1 .row .col-md-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1%;
}

.pie1 .row .col-md-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 3px solid #094592;
  border-left: 3px solid #094592;
  margin-bottom: 1%;
}

/*Estilos para la lista de las redes*/
.listado {
  padding-top: 10px;
  list-style: none;
}

/*Estilos para las imagenes de las redes*/
.listado img {
  width: 30px;
  height: 30px;
}

.listado img {
  width: 30px;
  height: 30px;
}

.listado img {
  width: 30px;
  height: 30px;
}

/*Estilos pie2*/
.pie2 {
  background-color: #094592;
  color: #FFFFFF;
  font-size: 0.7em;
}

/*Contendra todos los estilos que se repitan en todas las paginas o que se repitan en varias y con frecuencia*/
/*titulos esta en todas las paginas*/
.titulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  width: 300px;
  color: #FFFFFF;
  font-size: 1.25em;
  background-color: #04B1E8;
  border: 3px solid #094592;
  border-radius: 40px;
  margin-bottom: 15px;
  margin-top: 40px;
}

/*Hace referencia a mainContent esta en Conocenos, Especialidades, Politicas y Galeria*/
/*Hace referencia a contenido1 esta Inicio, Citas, Empleo y Galeria*/
/*Hace referencia a row esta en todas las paginas*/
/*Hace referencia a horario esta en Inicio, Citas y Empleo*/
/*Hace referencia a horarioTitulo esta en Inicio, Citas y Empleo*/
/*Hace referencia a horarioContenidos esta en Inicio, Citas y Empleo*/
/*Hace referencia a varios contenidos esta en Inicio, Conocenos, Empleo y Especialidades*/
/*Hace referencia a contenido2 esta en Inicio, Citas y Empleo*/
/*Hace referencia a los estilos de las columnmas para los diversos servicios de la clinica esta en Inicio y Especialidades*/
/*Hace referencia a card que seran los desplegables de los servicios esta en Inicio y Especialidades */
/*Hace referencia a card-header que seran los desplegables de los servicios esta en Inicio y Especialidades */
/*Hace referencia a card-body que seran los desplegables de los servicios esta en Inicio y Especialidades */
/*Hace referencia a carousel esta en Inicio, Galeria, Conocenos y Tienda*/
/*Media queries*/
@media (max-width: 1199px) {
  .col-xl-10, .col-xl-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .pie1 .row .col-md-3, .pie1 .row .col-md-4, .pie1 .row .col-md-5 {
    margin-top: 25px;
  }
  .pie1 .row .col-md-5 {
    border: none;
  }
}
/*# sourceMappingURL=scss-principal.css.map */